version: "3"
services:
  mariadb:
    image: mariadb:latest
    container_name: mariadb-container
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: articles_db
      MYSQL_USER: ahmed
      MYSQL_PASSWORD: ahmed123
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  mongo:
    image: mongo:latest
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mariadb_data:
  mongo_data:
